# ══════════════════════════════════════════════════════════════════════════════
# Supabase
# ══════════════════════════════════════════════════════════════════════════════
.branches
.temp
/volumes/

# ═══ dotenvx ═══
.env.keys
.env.local
.env.*.local
